fastapi
uvicorn
python-multipart
tensorflow-cpu>=2.19.0
tf_keras>=2.19.0
torch --index-url https://download.pytorch.org/whl/cpu
onnx>=1.18.0
onnxscript
tf2onnx
onnx2tf
onnx_graphsurgeon
sng4onnx
ai-edge-litert
psutil
safetensors
coremltools